
<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              
              <form class="form-signin" #f="ngForm" (ngSubmit)="login(f)" novalidate>
                <div class="form-label-group">
                 <label for="inputEmail">Email address</label>
                  <input type="email" name="uName" id="inputEmail" ngModel required #username="ngModel" class="form-control" placeholder="Email address" required autofocus>
                 
                </div>
                 <br>
                <div class="form-label-group">
                    <label for="inputPassword">Password</label>
                  <input type="password" name="password" id="inputPassword" ngModel required #password="ngModel" class="form-control" placeholder="Password" required>
                

                </div>
  
                <br>
                <button class="btn btn-lg btn-primary btn-block text-uppercase">Sign in</button>
                <p class="error" *ngIf="errFlag">Invalid Username/Password</p>
                <hr class="my-4">
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>