
<div class="container">  

    <div class="row">
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item active">Itinerary</li>
                <li class="list-group-item" *ngFor="let detail of flightDataInd">
                    <div class="row">
                        <div class="col-md-2">
                            <p>{{detail.flightName}}</p>
                        </div>
                        <div class="col-md-3">
                            <h3>{{detail.departureDateTime | date:'h:mm a'}}</h3>
                            <p>Arrival time </p>
                        </div>
   
                        <div class="col-md-3">
                            <h3>{{detail.arrivalDateTime | date:'h:mm a'}}</h3>
                            <p>Departure time</p>
                        </div>
                        <div class="col-md-3">
                          <h3 style="color:green">{{detail.economyClassPrice}}</h3>
                          <p>Price</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                        <small class="col-md-2">
                            BAGGAGE : 
                        </small>
                        <small class="col-md-2">
                            CHECK-IN
                        </small>
                        <small class="col-md-2">
                            CABIN
                        </small>
                    </div>  
                    <div class="row">
                        <small class="col-md-2">
                            
                        </small>
                        <small class="col-md-2">
                            15 KG 
                        </small>
                        <small class="col-md-2">
                            7 KG
                        </small>
                    </div>        
                </li>

            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item active">Fare Summary</li>
                <li class="list-group-item" *ngFor="let detail of flightDataInd">
                    <p>Base Summary : Rs {{detail.economyClassPrice}}</p><hr>
                    <p>Fee & Surcharges : Rs 2455</p><hr>
                    <p>Other Services : Rs 766</p><hr>
                    <h3>Total Charge : {{detail.economyClassPrice + 2455 + 766}}</h3>
                </li>

            </ul>
        </div>
    </div>

<br>
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item active">Passenger Details</li>
                <li class="list-group-item">                    
                    <form>
                      <div *ngFor="let passenger of numbers">  
                        <h6 class="p-1">Passenger</h6>
                        <div class="form-row">
                          <div class="col">
                            <input type="text" class="form-control" #passengername id="passengername" placeholder="Passenger Name" name="email">
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" #passengermob placeholder="Passenger Mob" name="passengermob">
                          </div>
                        </div>
                        </div >
                      </form>
                      <hr>
                                       
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item active">Payment Options</li>
                <li class="list-group-item">
                    <input type="radio"> <small class="radio">Google Pay</small>
                    <input type="radio"> <small class="radio">Net Banking</small>
                    <input type="radio"> <small class="radio">Amazon Pay</small><br><br>
                    <button type="button"  class="btn btn-outline-primary"  data-toggle="modal" data-target="#exampleModal">Proceed To Payment</button>
                </li>
            </ul>
        </div>

    </div>                
</div>

<div *ngIf="flag" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal"  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to proceed with the payment.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="payment()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
