<div class="container">
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item active">Itinerary</li>
                <li class="list-group-item" *ngFor="let detail of flightDataInd">
                    <div class="row">
                        <div class="col-md-2">
                            <p>{{detail.flightName}}</p>
                        </div>
                        <div class="col-md-3">
                            <h3>{{detail.departureDateTime | date:'h:mm a'}}</h3>
                            <p>Arrival time </p>
                        </div>
   
                        <div class="col-md-3">
                            <h3>{{detail.arrivalDateTime | date:'h:mm a'}}</h3>
                            <p>Departure time</p>
                        </div>
                        <div class="col-md-3">
                          <h3 style="color:green">{{detail.economyClassPrice}}</h3>
                          <p>Price</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                        <small class="col-md-2">
                            BAGGAGE : 
                        </small>
                        <small class="col-md-2">
                            CHECK-IN
                        </small>
                        <small class="col-md-2">
                            CABIN
                        </small>
                    </div>  
                    <div class="row">
                        <small class="col-md-2">
                            
                        </small>
                        <small class="col-md-2">
                            15 KG 
                        </small>
                        <small class="col-md-2">
                            7 KG
                        </small>
                    </div>        
                </li>

            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item active">Fare Summary</li>
                <li class="list-group-item" *ngFor="let detail of flightDataInd">
                    <p>Base Summary : Rs {{detail.economyClassPrice}}</p><hr>
                    <p>Fee & Surcharges : Rs 2455</p><hr>
                    <p>Other Services : Rs 766</p><hr>
                    <h3>Total Charge : {{detail.economyClassPrice + 2455 + 766}}</h3>
                </li>

            </ul>
        </div>
    </div>

<br>
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item active">Passenger Details</li>
                <li class="list-group-item">                    
                    <form>
                        <h6 class="p-1">Passenger 1</h6>
                        <div class="form-row">
                          <div class="col">
                            <input type="text" class="form-control" id="passengername" placeholder="Passenger Name" name="email">
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Passenger Age" name="passengerage">
                          </div>
                        </div>
                      </form>
                      <hr>
                      <form>
                        <h6 class="p-1">Passenger 2</h6>
                        <div class="form-row">
                          <div class="col">
                            <input type="text" class="form-control" id="passengername2" placeholder="Passenger Name" name="email">
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Passenger Age" name="passengerage2">
                          </div>
                        </div>
                      </form>                      
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item active">Payment Options</li>
                <li class="list-group-item">
                    <input type="radio"> <small class="radio">Google Pay</small>
                    <input type="radio"> <small class="radio">Net Banking</small>
                    <input type="radio"> <small class="radio">Amazon Pay</small><br><br>
                    <button type="button" class="btn btn-outline-primary">Proceed To Payment</button>
                </li>
            </ul>
        </div>

    </div>                
</div>
