<div class="container mainDiv p-4">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Search Your Flights Here...</h1>      
      <p>Book Domestic and International flights</p>
    </div>
  </div>
  <form #f="ngForm" (ngSubmit)="search(f)" novalidate>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputFrom">From</label>
            <select id="inputFrom"  ngModel  #locationFrom="ngModel"  name="locationFrom" class="form-control">
                <option *ngFor="let location of locations">
                    {{location.locaionName }} - {{location.locaionCode}}
                  </option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="inputTo">To</label>
            <select id="inputTo" name="locationTo"  ngModel  #locationTo="ngModel" class="form-control">
                <option *ngFor="let location of locations">
                    {{location.locaionName}} - {{location.locaionCode}}
                  </option>
            </select>
          </div>
    </div>
   
    
    <div class="form-row">
     
      <div class="form-group col-md-4">
        <label for="inputState"> Dept Date</label>
        <div class="form-group col-md-4">
          
          <p-calendar  [(ngModel)]="value"></p-calendar>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Return Date</label>
        <div class="form-group col-md-4">
        
          <p-calendar [(ngModel)]="value"></p-calendar>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputclass">Class</label>
        <select id="inputclass" ngModel  #locationclass="ngModel"  name="locationclass" class="form-control">
            <option> Economy              
              </option>
              <option> First             
              </option>
              <option> Business            
              </option>
        </select>
      </div>
     
    </div>
    <div class="form-label-group col-md-4">
      <label for="inputEmail">No of passenger</label>
       <input type="text" name="upassenger" id="passenger" ngModel required #passenger="ngModel" class="form-control" placeholder="no of passenger">
      
     </div>

    <br>

    <button  class="btn btn-primary">Sign up</button>
  </form>
</div>
