<div class="container mainDiv p-4">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Search Your Flights Here...</h1>      
      <p>Book Domestic and International flights</p>
    </div>
  </div>
  <form #f="ngForm" (ngSubmit)="search(f)" novalidate>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputFrom">From</label>
            <select id="inputFrom"   [(ngModel)]="selectedValue"  #locationFrom="ngModel"  name="locationFrom" class="form-control">
              <option>Select</option>  
              <option *ngFor="let location of locations" >
                    {{location.locaionName }} - {{location.locaionCode}}
                </option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="inputTo">To</label>
            <select id="inputTo" name="locationTo"   [(ngModel)]="selectedValue2"  #locationTo="ngModel" class="form-control">
              <option>Select</option>
                <option *ngFor="let location of locations">
                    {{location.locaionName}} - {{location.locaionCode}}
                  </option>
            </select>
          </div>
    </div>
   
    
    <div class="form-row">
     
      <div class="form-label-group col-md-3">
        <label for="inputEmail">Departure Date</label>
         <input type="date" name="depdate" id="fromdate" ngModel required #deptdate="ngModel" class="form-control">
        
       </div> 
       <div class="form-label-group col-md-3">
        <label for="inputEmail">Return Date</label>
         <input type="date" name="retdate" id="todate" ngModel  #retdate="ngModel" class="form-control">
        
       </div> 
      <div class="form-group col-md-3">
        <label for="inputclass">Class</label>
        <select id="inputclass" ngModel  #locationclass="ngModel"  name="locationclass" class="form-control">
            <option> Economy              
              </option>
              <option> First             
              </option>
              <option> Business            
              </option>
        </select>
      </div>
      <div class="form-label-group col-md-3">
        <label for="inputEmail">No of passenger</label>
         <input type="text" required name="upassenger" id="passenger" ngModel required #passenger="ngModel" class="form-control" placeholder="no of passenger">
        
       </div>  
    </div>


    <br>

    <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Search</button>

  </form>
<br>
  <div class="row">
      <div class="col-md-12">
          <ul class="list-group">
              <li class="list-group-item active">
                  <div class="row">
                      <div class="col-md-2">
                        <span>asc&nbsp;</span>
                        <span>dsc</span>
                      </div> 
                      <div class="col-md-3">
                        <span>asc &nbsp;</span>
                        <span>dsc</span>
                      </div> 
                      <div class="col-md-3">
                        <span>asc &nbsp;</span>
                        <span>dsc</span>
                      </div> 
                      <div class="col-md-2">
                        <span>asc &nbsp;</span>
                        <span>dsc</span>
                      </div> 
                      <div class="col-md-2" >
                          <input type="text" style="width:80px" placeholder="Search">
                      </div> 
                  </div>
              </li>

              <li class="list-group-item" *ngFor="let details of searchResults">
                  <div class="row">
                      <div class="col-md-2">
                          <p>{{details.flightName}}</p>
                      </div>
                      <div class="col-md-3">
                          <h3>{{details.departureDateTime | date:'h:mm a'}}</h3>
                          <p>Arrival time </p>
                      </div>
 
                      <div class="col-md-3">
                          <h3>{{details.arrivalDateTime | date:'h:mm a'}}</h3>
                          <p>Departure time</p>
                      </div>
                      <div class="col-md-3">
                        <h3 style="color:green">{{details.economyClassPrice}}</h3>
                        <p>Price</p>
                    </div>
                      <div class="col-md-1">
                        <button type="submit" class="btn btn-primary" (click)="navigate(details.flightTravelDetailsId)">Book</button>
                      </div>
                  </div>
    
              </li>

          </ul>
      </div>
      </div>

</div>
